name: Build Backend Image
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - workflow_dispatch
    paths:
      - "backend/**"
env:
  REGISTRY: docker.io
  IMAGE-NAME: mniranjanr7/booktrack-backend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Build and Push image
        uses: docker/build-push-action@v5
        with:
          context: ./backed
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE-NAME }}:${{ github.sha }}
            ${{ env.IMAGE-NAME }}:latest
